* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Tajawal', sans-serif;
}


/* -----HEADER SECTION ------- */

#header {
  height: 100vh;
  background-image: url(./images/white-concrete-building-3297593.jpg);
  /* background: linear-gradient(120deg, #000, 65%, #ffad21 55%); */
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

div.logoFlex {
  position: absolute;
  text-align: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  top: 40%;
  left: 25%;
  color: skyblue;
}
  h1.letters {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 3.5rem;
    padding: 10px;
    opacity: 0;
    border-bottom: 1px solid skyblue;
  }
  h2 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.5rem;
    padding: 1rem;
  }
  h3.title{
    letter-spacing: 0.1em;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: skyblue;
    text-transform: uppercase;
  }
  i{
    color: skyblue;
    text-decoration: none;
    size: 2.5rem;
    align-items: center;
  }

.navbar {
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    transition: .5s ease;
}
.nav-links, .logo {
      text-decoration: none;
      color: green;
      display: inline-block;
      font-size: 1.2rem;
      padding: 1rem;
      transition: .5s ease;
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      font-size: 15px;
}

.logo{
      font-weight: 700;
      font-size: 30px;
      letter-spacing: 2px;
      /* color: rgb(241, 245, 35); */
}
span{
  font-weight: 700;
  /* font-size: 30px; */
  letter-spacing: 2px;
}
    
.main-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-items: right;
    float: right;
}
  
.nav-links::after {
    content: "";
    display: block;
    width:0;
    border-bottom: 1px solid green;
    transition: .5s;
}
  
.nav-links:hover::after{
    width: 100%;
}
  
.navbar-toggle {
    position: absolute;
    top: 22px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}
  
  .burgerActive {
    display: block;
  }
  
  nav.black{
    background: #222222;
    position: fixed;
    width: 100%;
    padding: 10px 50px;
    z-index: 1;
  }
    /* .logo, span{
      color: #ffad21;
    } */
    /* a.active{
      color: skyblue;
    }
    a.active::after {
      border-bottom: 2px solid #ffad21;
      width:60%;
      margin: auto;
    } */
  
    /* ----ABOUT ME SECTION ------- */

.about-me{
  height: 100vh;
  padding: 2rem;
  color: black;
  background: skyblue;
  display: flex;
}
    
.col-1{
  padding: 10px;
  width: 80%;
  display:flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  line-height: 30px;
}
h3.title{
  color: green;
  border-bottom: 1px solid green;
  padding-bottom: 7px;
  }
p:first-of-type {
  padding: 50px 0 0 0;
}
p:nth-child(3) {
  padding-top: 20px;
}

      /* ----CRICLE----- */

.circle-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.circle{
    width: 16em;
    height: 20em;
    border-radius: 50%;
    text-align: center;
    line-height: 6em;
    background-image: url('./images/Subash-2814-171.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
}


/* ----TECHNOLOGIES ICONs SECTION------ */

#particles-js {
  height: 600px;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-col {
  position: absolute;
  text-align: center;
  width: 60%;
  color: white;
}
.tech-icons {
  padding-top: 30px;
  font-size: 70px;
}
.tech-icons.s.i{
  padding: 0 10px;
}
.tech-col.h3 {
  text-align: center;
  border-bottom: 1px solid #ffad21;
}


/* ----CONTACT INFO SECTION ----- */

#contact-me{
  height: 50px;
}

footer {
  display: flex;
  flex-direction: column;
  background-image: url('./images/white-concrete-building-3297593.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;

}

.footer-heading {
  color: green;
  align-self: center;
  letter-spacing: 0.1em;
  border-bottom: 1px solid green;
  padding-bottom: 7px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.contact {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 20px;
  padding: 20px 20px;
}

.link {
  text-decoration: none ;
  padding: 15px;
  font-size: 1.6rem;
  border-radius: 50%;

      color: green;
      transition: all 0.3s ease-in-out;
}

.footer-icon {
  font-size: 45px;
  padding: 7px;
}

div.top-arrow{
  align-items: center;
  justify-content: center;
}

/* .contact-me{
  height: 300px;
  position: fixed;
  bottom:0;
  background: black;
  width:100%;
  z-index: -1;
}
div.contact{
    display: flex;
    justify-content: center;
    text-align: center;
  }



div.contact div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #0A0A0C;
  width: 15%;
  margin: 2em;
  height: 140px;
  color: #ffad21;
} */
/* div.contact div.a{
    text-decoration: none;
    line-height: 55px;
    i{
      padding: 15px;
      font-size: 1.6rem;
      border-radius: 50%;
      background: #0A0A0C;
      color: #ffad21;
      transition: all 0.3s ease-in-out;
    }
    h4{
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      color: #FFFFFF;
      font-weight: 400;
      letter-spacing: 1.5px;
    }
  
  &:hover {
    i{
      color:#000000;
      background: #ffad21;

    }
  }
}  */

/* //-----PORTFOLIO SECTION ------ */

/* #portfolio{
  background: linear-gradient(150deg, black, 70%, #ffad21 55%);
  margin-bottom: 400px;
  color: white;
}

h3.space{
  font-family: 'Press Start 2P', cursive;
  padding-bottom: 0px;
  font-size: 15px;
}

.portfolio-col {
  display: flex;
  justify-content: center;
  height: 500px;
  line-height: 1.6;
  padding-top: 25px;
}
  #portfolio.h3{
    padding-bottom: 10px;
  }
  img.beelogo{
    width: 20px;
  }


div.img-flex img{
  border-radius: 5px;
}

div.project{
  display: flex;
  justify-content: center;
  padding: 60px 0 60px 0;
}
  h3.my-project{
    text-align: center;
    border-bottom: 1px solid #ffad21;
  }


.prot-flex{
  display: flex;
  padding: 0 0 0 3.5rem;
  flex-direction: column;
  width: 50%;
  font-size: 17px;
}
  img{
    width: 150px;
  }
  p:nth-child(2){
    padding-bottom: 10px;
  }


.prot-2-flex{
  display: flex;
  padding: 0 3.5rem 0 0;
  flex-direction: column;
  width: 50%;
  font-size: 17px;
}
  img{
    width: 150px;
    padding-bottom: 20px;
  }
  p:nth-child(2){
    padding-bottom: 10px;
  }


button{
  margin-top: 10px;
  background: #050304;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ffad21;
  width: 105px;
  padding: 8px 2px;
  transition: all .2s ease-in;
}
  a{
    color:#ffad21;
    text-decoration: none;
  }
  &:nth-child(2), &:nth-child(3){
    margin-left: 10px;
  }
  &:hover{
    background: #ffad21;
    border-color: #000000;
  }
    a{
      color: #000000;
    }
  


/* div.project-title{ 
  span:first-child{
    font-size: 20px;
  }
  span:nth-child(2), span:nth-child(3) {
    padding-left: 220px;
  }


div.top-arrow {
  text-align: center;
}
  i{
    color: #ffad21;
    text-decoration: none;
    } 

