* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Tajawal', sans-serif; */
  font-family: 'Courier New', Courier, monospace;
}


/* -----HEADER SECTION ------- */

#header {
  height: 100vh;
  background-image: url(./images/Portfolio-background-3.jpg);
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

div.logoFlex {
  position: absolute;
  text-align: center;
  align-items: center;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  top: 40%;
  left: 25%;
  color: white;
}
  h1.letters {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 3.5rem;
    padding: 10px;
    /* opacity: 0; */
    border-bottom: 1px solid skyblue;
  }
  .prof {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.5rem;
    padding: 1rem;
  }
  i.icon {
    color: skyblue;
    text-decoration: none;

  }
  h3.title{
    letter-spacing: 0.1em;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: skyblue;
    text-transform: uppercase;
  }

  /* ---------NAV BAR -------- */

.navbar {
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    transition: .5s ease;
}
.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links, .logo {
      text-decoration: none;
      color: white;
      display: inline-block;
      font-size: 1.2rem;
      padding: 1rem;
      transition: .5s ease;
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      font-size: 15px;
}
.main-nav li {
  text-align: right;
}

.logo{
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
}

.navbar-toggle {
  position: absolute;
  top: 22px;
  right: 20px;
  cursor: pointer;
  color: green;
  font-size: 24px;
}
.active {
  display: block;
}

.logo.span{
  font-weight: 700;
  font-size: 30px; 
  letter-spacing: 2px;
  color: yellow;
}

.nav-links::after {
    content: "";
    display: block;
    width:0;
    border-bottom: 1px solid green;
    transition: .5s;
}
a.nav-links {
  color: white;
}
  
.nav-links:hover::after{
    width: 100%;
}
.main-nav.active {
  display: block;
}
  
  nav.black{
    background: whitesmoke;
    position: fixed;
    width: 100%;
    padding: 10px 50px;
    z-index: 1;
  }
    /* .logo, span{
      color: #ffad21;
    } */

    nav.black.a.active{
      color: skyblue;
    }
  
  
    /* ----ABOUT ME SECTION ------- */

.about-me{
  /* background-image: url(./images/parallex.jpg); */
  /* height: 100vh; */
  padding: 2rem;
  color: black;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background: skyblue;
  display: flex;
}
    
.col-1{
  padding: 10px;
  width: 80%;
  display:flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  line-height: 30px;
}
h3.title{
  color: green;
  border-bottom: 1px solid green;
  padding-bottom: 7px;
  }
p:first-of-type {
  padding: 50px 0 0 0;
}
p:nth-child(3) {
  padding-top: 20px;
}

      /* ----CRICLE----- */

.circle-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.circle{
    width: 16em;
    height: 16em;
    border-radius: 50%;
    text-align: center;
    line-height: 6em;
    background-image: url('./images/gap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
}


/* ----TECHNOLOGIES ICONs SECTION------ */

#particles-js {
  height: 600px;
  background-image: url(./images/parallex.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* background: whitesmoke; */  
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-col {
  position: absolute;
  text-align: center;
  width: 60%;
  color: white;
}
.tech-icons {
  padding-top: 30px;
  font-size: 70px;
}
.tech-icons.s.i{
  padding: 0 10px;
}
.tech-col.h3 {
  text-align: center;
  border-bottom: 1px solid #ffad21;
}


/* ----CONTACT INFO SECTION ----- */

/* #contact-me{
  height: 50px;
} */

footer.contact-info {
  display: flex;
  flex-direction: column;
  background-image: url('./images/Portfolio-background-3.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
}

h3.footer-heading {
  color:  green;
  margin: 20px;
  align-self: center;
  letter-spacing: 0.1em;
  border-bottom: 1px solid green;
  padding-bottom: 7px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
div.contact div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background: #0A0A0C; */
  width: 15%;
  margin: 2em;
  height: 140px;
  color: #ffad21;
}

div.contact a i {
  padding: 15px;
  font-size: 1.6rem;
  border-radius: 50%;
  background: #0A0A0C;
  color: #ffad21;
  transition: all 0.3s ease-in-out;
}

footer.contact-info div.contact {
  display: flex;
  /* width: 200px; */
  justify-content: center;
  text-align: center;
  /* margin: 20px; */
  padding: 20px 280px; 
}

div.contact div a {
  text-decoration: none;
  line-height: 55px;
}

div.contact div a h4 {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 400;
  letter-spacing: 1.5px;
}

div.top-arrow{
  text-align: center;
  margin: 10px;;
}
.footer-icon1 {
  color: green;
  
}


/* //-----PORTFOLIO SECTION ------ */

#portfolio{
  /* background: linear-gradient(150deg, rgb(6, 48, 65) 70%, #ffad21 55%); */
  background-image: url('./images/parallex1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  align-items: center;
}

h3.space{
  font-family: 'Press Start 2P', cursive;
  padding-bottom: 0px;
  font-size: 15px;
}

.portfolio-col {
  display: flex;
  justify-content: center;
  height: 580px;
  line-height: 1.6;
  /* padding-top: 25px; */
}
  #portfolio.h3{
    padding-bottom: 10px;
  }


div.img-flex img{
  border-radius: 5px;
}

div.project{
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
}
  h3.my-project{
    text-align: center;
    border-bottom: 1px solid #ffad21;
  }


.prot-flex{
  display: flex;
  padding: 0 0 0 3.5rem;
  flex-direction: column;
  width: 70%;
  font-size: 17px;
}
  img{
    width: 150px;
  }
  p:nth-child(2){
    padding-bottom: 10px;
  }


.prot-2-flex{
  display: flex;
  padding: 0 3.5rem 0 0;
  flex-direction: column;
  width: 70%;
  font-size: 17px;
}
  img{
    width: 150px;
    padding-bottom: 20px;
  }
  p:nth-child(2){
    padding-bottom: 10px;
  }


button{
  margin-top: 10px;
  background: #050304;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ffad21;
  width: 105px;
  padding: 8px 2px;
  transition: all .2s ease-in;
}
  a.project4, a.project3, a.project2, a.project1 {
    color: #ffad21;
    text-decoration: none;
  }
  &:nth-child(2), &:nth-child(3){
    margin-left: 10px;
  }
  &:hover{
    background: #ffad21;
    border-color: #000000;
  }


/* ----TABLET SCREEN----- */

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  .main-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  }
  .main-nav li {
        margin: 0;
  }
  .nav-links {
    margin-left: 40px;
    padding: 1rem;
}
.logo {
  margin-top: 0;
}
      
.navbar-toggle {
    display: none;
}
.logo:hover,
.nav-links:hover {
  color: green;
  }

}

  /* ----- MOBILE SCREEN ------ */

  @media only screen and (max-width: 768px) {
    #header {
      height: 100vh;
      background-image: url(./images/white-concrete-building-3297593.jpg);
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .about-me{
      height: 100vh;
      padding: 2rem;
      color: black;
      background: skyblue;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  
    .col-1{
      padding: 0 10px;
      width: 100%;
      display:flex;
      flex-wrap: nowrap;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      line-height: 25px;
    }

    .col-1.h3{
        color: #ffad21;
        border-bottom: 1px solid #ffad21;
        padding: 20px 0 0 5px;
      }
    .col-1.p:first-of-type {
        padding: 0 0 0 0;
      }
    
      /* ----CRICLE----- */
      .circle-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }
      .circle-div  .circle{
          width: 15em;
          height: 15em;
          border-radius: 50%;
          background-image: url('./images/gap.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
    
    
      #particles-js {
        height: 100vh;
        background: black;
        display: block;
        justify-content: center;
        align-items: center;
      }
    
      div.project{
        display: flex;
        justify-content: center;
        padding: 0 0 30px 0;
      }
      .project.h3.my-project{
          text-align: center;
          border-bottom: 1px solid #ffad21;
      }
    
      .tech-col {
        position: absolute;
        text-align: center;
        width: 100vw;
        color: white;
      }
      .tech-col.i{
            font-size: 10vh;
            padding: 0 5px;
      }
      .tech-col.h3{
            padding-top: 90px;
          }
      
    
      #portfolio{
        background: linear-gradient(150deg, rgb(6, 48, 65) 70%, #ffad21 55%);
        color: white;
        margin-bottom: 350px;
     }
    
      .portfolio-col {
        display: block;
        height: 950px;
        line-height: 1.6;
        padding-top: 25px;
      }
      .portfolio-col.h3{
          padding-bottom: 10px;
        }
    
      div.img-flex img{
        border-radius: 5px;
        width: 360px;
        padding-left: 15px;
      }
    
      div.project{
        text-align: center;
      }
      .project.h3.my-project {
          border-bottom: 1px solid #ffad21;
          padding-top: 80px;
          margin: 0 0 30px 0;
          width: 73%;
        }
      
    
      .prot-flex{
        display: block;
        width: 100%;
        font-size: 17px;
        padding: 0 15px;
      }
        
      .p:nth-child(2){
          padding-bottom: 10px;
        }
    
      div.img-mobile{
        padding-top: 30px;
      }
    
      footer.contact-info{
        height: 300px;
        position: fixed;
        bottom:0;
        background-image: url('./images/white-concrete-building-3297593.jpg');
        background-position: center;
        background-size: cover;
        width: 100%;
        z-index: -1;
      }
      footer.contact-info.contact {
          display: flex;
          justify-content: center;
          text-align: center;
        }
        footer.contact-info.h3{
          width:63%;
        }
    
      div.contact div{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2em;
        height: 110px;
      }

      nav.black {
        padding: 0px 10px;
      }
    
      div.logoFlex {
        width: 60%;
      }
  }
