* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

.parallax-image {
  background-image: url(images/Portfolio-background-3.jpg);
  background-position: center;
  background-size: cover;
  min-height: 150px;
  background-attachment: fixed;
}


/* -----HEADER SECTION ------- */

#header {
  height: 100vh;
  background-image: url(./images/Portfolio-background-3.jpg);
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* text-align: center;  */
  justify-content: center;
  align-items: center;
}

div.logoFlex {
  /* display: flex; */
  position: absolute;
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
  top: 45%;
  left: 25%;
  color: white;
}
  h1.letters {
    text-transform: uppercase;
    font-family: 'Aclonica', sans-serif;
    letter-spacing: 0.2em;
    font-size: 4rem;
    padding: 10px;
    border-bottom: 1px solid white;
  }
  .prof {
    text-transform: uppercase;
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 0.2em;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  h3.title{
    letter-spacing: 0.1em;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: skyblue;
    text-transform: uppercase;
  }

  /* ---------NAV BAR -------- */

.navbar {
  display: flex;
  align-items: flex-start;
  text-align: center;
  position: fixed;
  z-index: 9999;
  float: clear;
  width: 100%;
  margin: 0px auto;
  transition: .5s ease;
  background-color: black;
  opacity: 0.85;
}  

.main-nav {
  list-style-type: none;
  display: none;
  font-family: 'Gloria Hallelujah', cursive;
}

.nav-links, .logo {
      text-decoration: none;
      /* color: white; */
      display: inline-block;
      font-size: 1.2rem;
      padding: 2rem;
      transition: .5s ease;
      text-transform: uppercase;
      /* font-family: 'Poppins', sans-serif; */
      font-weight: bold;
      font-size: 15px;
}
.main-nav li {
  text-align: right;
}

.logo{
  display: inline-block;
  color: orange;
  font-family: 'Bungee Shade', cursive;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
}

.navbar-toggle {
  position: absolute;
  top: 22px;
  right: 20px;
  cursor: pointer;
  color: green;
  font-size: 24px;
}
.active {
  display: block;
}

.nav-links::after {
    content: "";
    display: block;
    width:0;
    border-bottom: 1px solid green;
    transition: .5s;
}
a.nav-links {
  color: white;
}
  
.nav-links:hover::after{
    width: 100%;
}
.main-nav.active {
  display: block;
}
  
nav.black{
  background: whitesmoke;
  position: fixed;
  width: 100%;
  padding: 10px 50px;
  z-index: 1;
}

nav.black.a.active{
  color: skyblue;
 }
  
  
/* ----ABOUT ME SECTION ------- */

.about-me{
  padding: 2rem;
  color: black;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background: skyblue;
  display: flex;
}
    
.col-1{
  padding: 10px;
  width: 80%;
  display:flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  line-height: 30px;
}
h3.title{
  color: green;
  border-bottom: 1px solid green;
  padding-bottom: 7px;
  }
p:first-of-type {
  padding: 50px 0 0 0;
}
p:nth-child(3) {
  padding-top: 20px;
}

      /* ----CRICLE----- */

.circle-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.circle{
    width: 16em;
    height: 16em;
    border-radius: 50%;
    text-align: center;
    line-height: 6em;
    background-image: url('./images/gap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
}


/* ----TECHNOLOGIES ICONs SECTION------ */

#particles-js {
  height: 600px;
  background: whitesmoke;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-col {
  position: absolute;
  text-align: center;
  width: 60%;
  color: white;
}
.tech-icons {
  padding-top: 30px;
  font-size: 70px;
}
.tech-icons.s.i{
  padding: 0 10px;
}
.tech-col.h3 {
  text-align: center;
  border-bottom: 1px solid #ffad21;
}


/* ----CONTACT INFO SECTION ----- */

footer.contact-info {
  display: flex;
  flex-direction: column;
  background-image: url('./images/Portfolio-background-3.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
}

h3.footer-heading {
  color:  green;
  margin: 20px;
  align-self: center;
  letter-spacing: 0.1em;
  border-bottom: 1px solid green;
  padding-bottom: 7px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
div.contact div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background: #0A0A0C; */
  width: 15%;
  margin: 2em;
  height: 140px;
  color: #ffad21;
}

div.contact a i {
  padding: 15px;
  font-size: 1.6rem;
  border-radius: 50%;
  background: #0A0A0C;
  color: #ffad21;
  transition: all 0.3s ease-in-out;
}

footer.contact-info div.contact {
  display: flex;
  /* width: 200px; */
  justify-content: center;
  text-align: center;
  /* margin: 20px; */
  padding: 20px 280px; 
}

div.contact div a {
  text-decoration: none;
  line-height: 55px;
}

div.contact div a h4 {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 400;
  letter-spacing: 1.5px;
}
#back-to-top.show {
  opacity: 1;
}
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  color: #18181a;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}


/* //-----PORTFOLIO SECTION ------ */

#portfolio{
  background-image: url('./images/948892-cool-dark-wallpapers-1920x1080-windows.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  align-items: center;
}

.portfolio-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 30px;
  height: 500px;
}

div.img-flex img{
  border-radius: 5px;
  flex-direction: column;
  width: 400px;
  height: 400px;
  padding: 5px 5px;
  float: left;
}

.prot-flex{
  margin: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.project{
  display: flex;
  justify-content: center;
  padding: 60px 0 20px 0;
}
  h3.my-project{
    text-align: center;
    border-bottom: 1px solid #ffad21;
  }
h3 {
  font-size: 25px;
}
  /* p:nth-child(2){
    padding-bottom: 10px;
  } */

  img{
    width: 150px;
    padding-bottom: 20px;
  }
  /* p:nth-child(2){
    padding-bottom: 10px;
  } */

  .tech-languages {
    font-weight: bold;
  }


button{
  margin-top: 10px;
  background: #050304;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ffad21;
  width: 105px;
  padding: 8px 2px;
  transition: all .2s ease-in;
}
  a.project4, a.project3, a.project2, a.project1 {
    color: #ffad21;
    text-decoration: none;
  }
  &:nth-child(2), &:nth-child(3){
    margin-left: 10px;
  }
  &:hover{
    background: #ffad21;
    border-color: #000000;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 260%;
    width: auto;
    margin: 50px;
    padding: 16px;
    color: white;
    background-color: rgba(0,0,0,0.8);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 40px;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 40px;
  }
  .text {
    color: darkslategrey;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
.dots {
  background-image: url('./images/948892-cool-dark-wallpapers-1920x1080-windows.jpg');
}
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    width: 50px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 30px;
  
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }


  /* -----EDUCATION----- */

  #education-area {
    height: 510px;
    background: whitesmoke;
    background-attachment: fixed;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  
  }
  .education-container{
    display: flex;
    text-align: center;
  }
  .education-child {
    width: 50%;
    color: black;
    padding: 5px 20px;
  }
  .vl-education {
    border-left: 1.2px solid 	green;
    height: 350px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
  }
  div.education {
    display: flex;
    justify-content: center;
    padding: 60px 0 20px 0;
  }

  h3.edu {
    text-align: center;
    border-bottom: 1px solid green;
    letter-spacing: 0.1em;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: green;
    text-transform: uppercase;
    padding-bottom: 7px;
  }

/* ----TABLET SCREEN----- */

@media screen and (min-width: 798px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  .main-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  }
  .main-nav li {
        margin: 0;
  }
  .nav-links {
    margin-left: 40px;
    padding: 1rem;
}
.logo {
  float: left;
  /* margin-top: 0; */
}
      
.navbar-toggle {
    display: none;
}
.logo:hover,
.nav-links:hover {
  color: green;
  }

}

  /* ----- MOBILE SCREEN ------ */

  @media only screen and (max-width: 768px) {
    section#header {
      height: 100vh;
      background-image: url(./images/Portfolio-background-3.jpg);
      /* position: relative; */
      /* background-size: cover;
      background-repeat: no-repeat; */
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  
    .about-me{
      height: 100vh;
      padding: 2rem;
      color: black;
      background: skyblue;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  
    .col-1{
      padding: 0 10px;
      width: 100%;
      display:flex;
      flex-wrap: nowrap;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      line-height: 25px;
    }

    .col-1.h3{
        color: #ffad21;
        border-bottom: 1px solid #ffad21;
        padding: 20px 0 0 5px;
      }
    .col-1.p:first-of-type {
        padding: 0 0 0 0;
      }
    
      /* ----CRICLE----- */
      .circle-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }
      .circle-div  .circle{
          width: 15em;
          height: 15em;
          border-radius: 50%;
          background-image: url('./images/gap.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
    
    
      #particles-js {
        height: 100vh;
        background: whitesmoke;
        /* display: block; */
        justify-content: center;
        align-items: center;
      }
    
      div.project{
        display: flex;
        justify-content: center;
        padding: 20px 0 30px 0;
      }
      .project.h3.my-project{
          text-align: center;
          border-bottom: 1px solid #ffad21;
      }
    
      .tech-col {
        position: absolute;
        text-align: center;
        width: 100vw;
        color: white;
      }
      .tech-col.i{
            font-size: 10vh;
            padding: 0 5px;
      }
      .tech-col.h3{
            padding-top: 90px;
          }
      
    
      #portfolio{
        height: 1210px;
        background-image: url('./images/948892-cool-dark-wallpapers-1920x1080-windows.jpg');
        color: white;
        justify-content: center;
        align-items: center;
        /* margin-bottom: 350px; */
     }
    
      .portfolio-col {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 800px;
        justify-content: center;
        align-items: center;
        line-height: 1.6;
        padding-top: 25px;
      }
      .portfolio-col.h3{
          padding-bottom: 10px;
        }
    
      div.img-flex img{
        display: flex;
        width: 100%;
        border-radius: 5px;
        /* width: 360px; */
        padding-left: 15px;
      }
    
      /* div.project{
        text-align: center;
      } */
      .project.h3.my-project {
          border-bottom: 1px solid #ffad21;
          padding-top: 80px;
          margin: 0 0 30px 0;
          width: 73%;
        }
      
    
      .prot-flex{
        width: 100%;
        font-size: 17px;
        justify-content: center;
        align-items: center;
        margin: 0px;
        /* padding: 0 15px; */
      }
        
      .p:nth-child(2){
          padding-bottom: 10px;
        }
    
      div.img-mobile{
        padding-top: 30px;
      }
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 320%;
        width: auto;
        margin: 50px;
        padding: 16px;
        color: white;
        background-color: rgba(0,0,0,0.8);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 40px;
        user-select: none;
      }
    
      .dots {
        background-image: url('./images/948892-cool-dark-wallpapers-1920x1080-windows.jpg');
      }
        
        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: orange;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }
        #myBtn {
          display: none;
          position: fixed;
          bottom: 20px;
          right: 30px;
          z-index: 99;
          font-size: 18px;
          width: 50px;
          border: none;
          outline: none;
          background-color: black;
          color: white;
          cursor: pointer;
          padding: 15px;
          border-radius: 30px;
        }
        #education-area {
          height: 100vh;
          background: whitesmoke;
          background-attachment: fixed;
          justify-content: center;
          align-items: center;
        
        }
        
        .active, .dot:hover {
          background-color: #717171;
        }

      footer.contact-info{


        bottom:0;
        background-image: url('./images/Portfolio-background-3.jpg');
        background-position: center;
        background-size: cover;
        width: 100%;
        z-index: -1;
      }
      footer.contact-info.contact {
          display: flex;
          justify-content: center;
          text-align: center;
        }
        footer.contact-info.h3{
          width:63%;
        }
    
      div.contact div{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2em;
        height: 110px;
      }

      nav.black {
        padding: 0px 10px;
      }
    
      /* div.logoFlex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      } */
  }
